# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objects:</strong>
<ul>
<li>List popular languages that Data Scientists use.</li>
<li>List commonly used libraries used by Data Scientists.</li>
<li>Comment on Data Science tools.</li>
</ul>

<strong>Some of the popular languages that Data Scientists use are:</strong>

  <ol>
  <li>Python.</li>
  <li>R.</li>
  <li>SQL.</li>
  <li>Jave.</li>
  <li>Julia.</li>
  <li>scala</li>
  <li>C/C++.</li>
  <li>JavaScript.</li>
  </ol>

<strong>Some of the commonly used libraries used by Data Scientists include:</strong>

<ol>
      <li>TensorFlow.</li>
       <li>NumPy.</li>
       <li>SciPy.</li>
       <li>Pandas.</li>
       <li>Matplotlib.</li>
       <li>Keras.</li>
       <li>SciKit-Learn.</li>
       <li>PyTorch.</li>
       <li>Scrapy.</li>
       <li>BeautifulSoup.</li>
       <li>LightGBM.</li>
       <li>ELI5.</li>
       <li>Theano.</li>
       <li>NuPIC.</li>
       <li>Ramp.</li>
       <li>Pipenv.</li>
       <li>Bob.</li>
       <li>PyBrain.</li>
       <li>Caffe2.</li>
    <li>Chainer.</li>
</ol>

 <table style="width:100%">

<tr>
     <th>Data Science Tools</th>
</tr>
<tr>
    <td>SAS. It is one of those data science tools which are specifically designed for statistical operation</td>
</tr>
<tr>
    <td>Apache Spark</td>
</tr>
 <tr>
     <td>BigML</td>
</tr>
     
 </table>
</td>
</tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

$
X^{2} - 25 = 0
$

# Arithmetic operations
code = compile("5 + 4", "\<string>\", "eval\")

eval(code)
# Result: 9

code1 = compile("(5 + 7) * 2"," \<string>\", "eval\")
"eval(code)

 "# Result: 4"

In [181]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [189]:
#This will convert 200 minutes to hours by diving by 60
x_minutes=200
x_Hours=x_minutes/60
print(x_Hours)

3.3333333333333335

<h2>Author:</h2> Eid Mohamed Lamloum"